<main><br>
    <form action="/api/session/changepass" method="POST">
        <h1>Recuperar password</h1>
        <input type="text" name="user_name" placeholder="Ingrese su email"><br>
        <input type="text" name="newPassword" placeholder="Ingrese la nueva password"><br><br>
        <button>Cambiar password</button>
    </form>
</main>