<div>
    <header>
        <h1>
            Bienvenido
        </h1>
    </header>
    <nav>
        <li>
            <a href="/pet">
                Mascotas
            </a>
        </li>

        <li>
            <a href="/user">
                Usuarios
            </a>
        </li>
    </nav>
</div>
